.main{
    margin-top: 100px;
    margin-left: 400px;
    display: grid;
    grid-template-columns:  repeat(3, 270px);
    gap: 100px;
    row-gap: 50px;
}

.Topic{
    width: 350px;
    height: 430px;
    box-shadow: 10px 10px 100px 10px rgba(233, 233, 233, 0.864);

}





.Topic img{
    margin: 7.5px;
    margin-right: 15px;
    height: 150px;
    width: 95.5%;
}

.Topic-text{
    display: flex;
    justify-content: baseline;
    flex-direction: column;
    margin-left: 7.5px;
}

.Topic-name{
    color: purple;
}




.Topic-main-name{
    font-size: 20px;
}



.Topic-description{
    font-size: 12px;
    color: rgb(127, 127, 127);
}

.Profile{
    display: flex;
}

.Profile img{
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

.Profile-name{
    display: flex;
    flex-direction: column;
}

.Person{
    margin-bottom: 0;
}

.Date{
    margin-top: 5px;
    color: grey;
}

#Arrow-icon{

position: relative;

bottom: 40px;
left: 300px;

}